.game-area {
  position: relative;
  margin: auto;
  height: 600px;
  width: 600px;
  border: solid black 1px;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: solid white 1px;
}

.snake-fraction {
  position: absolute;
  height: 2%;
  width: 2%;
  background-color: black;
  border: solid white 1px;
}
